@charset "utf-8";
#ham {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 20%;
  border: none;
  left: 20px;
  top: 120px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
}

#ham > i {
  font-size: 20px;
  color: var(--blue);
}

header > h1 > a > img {
  width: 100%;
}

.h_inner {
  width: 200px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: 0.5;
  overflow: hidden;
}

#gnb {
  width: 200px;
  font-size: 20px;
  padding-top: 80px;
  font-family: "NanumSquare", sans-serif !important;
}

#gnb > li {
  width: 100%;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

#gnb i {
  width: 25px;
  margin-right: 10px;
}

#gnb > li > a {
  display: block;
  margin: 10px 10px;
  padding: 20px 30px;
  border-radius: 10px;
  transition: 0.5s;
  font-weight: bold;
  color: rgb(62, 65, 73);
}

#gnb > li > a:hover {
  background-color: var(--blue);
  color: #fff;
}
.focus > a {
  background-color: var(--blue);
  color: #fff !important;
}
.sub > li {
  padding-left: 40px;
  width: 100%;
  font-size: 17px;
  line-height: 35px;
  font-weight: bold;
}

.sub > li > a {
  color: #6b789c;
  display: block;
  transition: 0.5s;
}

.sub > li > a:hover {
  color: #081435;
  text-decoration: underline;
}

.tab_menu {
  width: 95px;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  transition: 0.5;
  padding: 0px 20px;
  background-color: var(--blue);
  border-top-right-radius: 40px;
  left: -300%;
  top: 130px;
}

.tab_gnb {
  padding-top: 130px;
}

.tab_gnb li {
  width: 45px;
  height: 45px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 20%;
}

.tab_gnb a {
  display: block;
  transition: 0.5s;
  font-size: 25px;
  color: var(--blue);
  text-align: center;
  line-height: 43px;
}

.tab_gnb li:hover {
  background-color: rgb(230, 230, 230);
}

.tab_gnb li:hover a {
  color: var(--pink);
}
.p_lt > ul {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
  font-size: 16px;
  text-transform: capitalize;
}

.p_lt > ul > li {
  position: absolute;
  padding: 10px 0px;
}

.p_lt > ul > li,
.p_lt > ul > li a {
  color: #4d4d4d;
}

.p_lt > ul > li:first-child {
  left: 0;
}

.p_lt > ul > li:nth-child(2) {
  left: 50%;
}

.p_lt > ul > li:last-child {
  top: 0;
  right: 10px;
}
.screenM {
  padding-left: 5%;
}

/* ham */
