@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@font-face {
  font-family: "silgothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/silgothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  /* cursor: none; */
} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input:checked[type="checkbox"] {
  background-color: #666;
  -webkit-appearance: checkbox;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"],
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
} /* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

/* hover design */
.lined_dot_1,
.lined_dot_2,
.lined_dot_3 {
  top: -4px;
}

.lined_dot_4,
.lined_dot_5,
.lined_dot_6 {
  bottom: -4px;
}
.lined_dot_1,
.lined_dot_4,
.lined_dot_7 {
  left: -4px;
}
.lined_dot_2,
.lined_dot_5 {
  left: 50%;
  margin-left: -4px;
}
.lined_dot_3,
.lined_dot_6,
.lined_dot_8 {
  right: -4px;
  animation: ss 3s ease-in infinite;
}

.lined_dot_7,
.lined_dot_8 {
  top: 50%;
}

/* scrollbar design */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
}
